/*phone*/
@media (max-width: 480px) {
  .app {
    width: 85%;
    margin: 0 auto;
  }
}

/*tablets*/
@media (min-width: 481px) and (max-width: 768px) {
  .app {
    width: 85%;
    margin: 0 auto;
  }
}

/*laptops*/
@media (min-width: 769px) and (max-width: 1024px) {
  .app {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1025px) {
  .app {
    width: 85%;
    margin: 0 auto;
  }
}