/*phone*/
@media (max-width: 480px) {
  .app {
    background-color: aquamarine;
  }
}

/*tablets*/
@media (min-width: 481px) and (max-width: 768px) {
  .app {
    background-color: rgb(29, 217, 35);
  }
}

/*laptops*/
@media (min-width: 769px) and (max-width: 1024px) {
  .app {
    background-color: rgb(51, 126, 153);
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1025px) {
  .app {
    background-color: rgb(250, 209, 5);
    width: 85%;
    margin: 0 auto;
  }
}