.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first__text {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.second__text {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

.third__text {
  color: var(--clr-primary-purple);
  font-weight: bold;
  font-size: 4rem;
  background: linear-gradient(to right, var(--clr-primary-purple) , var(--clr-primary-orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.cv__button {
  border: none;
  text-decoration: none;
  outline: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: var(--main-bg-color);
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s;
}

.contact__button {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s;
}

.contact__button:hover, .cv__button:hover {
  background: linear-gradient(to right, var(--clr-primary-purple) , var(--clr-primary-orange));
  color: white;
  outline: none;
}

.img__container {
  position: relative;
  width: 400px;
  height: 400px;
}


/*media queries*/

/*phone*/
@media (max-width: 480px) {
  .first__text {
    font-size: 1.5rem;
  }
  .second__text {
    font-size: 2.5rem;
  }
  .third__text {
    font-size: 3rem;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main__text_container {
    display: flex;
    flex-direction: column; 
  }
  .img__container {
    display: none;
  }
}

/*tablets*/
@media (min-width: 481px) and (max-width: 768px) {
  .first__text {
    font-size: 1.5rem;
  }
  .second__text {
    font-size: 2.5rem;
  }
  .third__text {
    font-size: 3rem;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main__text_container {
    display: flex;
    flex-direction: column; 
  }
  .img__container {
    display: none;
  }
}

/*laptops*/
@media (min-width: 769px) and (max-width: 1024px) {
  .first__text {
    font-size: 1.5rem;
  }
  .second__text {
    font-size: 2.5rem;
  }
  .third__text {
    font-size: 3rem;
  }
}

@media (min-width: 1025px) {

}